<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>courses | E-Learning</title>
    <link rel="icon" href="/logo/titlelogo1.svg" type="image/icon type">
  </head>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous" ></script>
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"  crossorigin="anonymous" />
  <body  class="courseBG">
   <%- include('partials/navbar') %>
    <div class="ctitlee">
      <div class="ctitlee-back">
        <div class="line-numbers">
          <div>-></div>
        </div>
        <code>
          <div class="indent">
            <div class="indent">
              <span class="variable"><</span>
              <span class="string"> Learn on the web and on the go.</span
              ><span class="variable">
                You are browsing the best resource for Online Education</span
              >
              <span class="string">/></span>
            </div>
          </div>
        </code>
      </div>
      <div class="ctitlee-front">
        <div class="line-numbers">
          <div>-></div>
        </div>
        <code>
          <span class="variable"></span>
          <span class="string"
            >Select Your Course And Start Learning Now</span
          >
          <span class="variable">/></span></code
        >
      </div>
    </div>
    <div>
      <div class="courses-list" style="padding-left: 5%">
        <div class="course 1">
          <div class="course_image">
            <a href="/public/courses/courses/python/python.html" >
                <img src="/public/courses/crslogo/python.png" style="width: 200px" /></a>
          </div>
          <div class="course_title title-white">
            <p>Python</p>
          </div>
        </div>
        <div class="course 2">
          <div class="course_image">
            <a href="/public/courses/courses/html/html.html"
              ><img src="/public/courses/crslogo//html.png" style="width: 200px" /></a>
          </div>
          <div class="course_title title-white">
            <p>HTML</p>
          </div>
        </div>
        <div class="course 3">
          <div class="course_image">
            <a href="/public/courses/courses/csharp/csharp.html"
              ><img src="/public/courses/crslogo/c-sharp.png" style="width: 200px" /></a>
          </div>
          <div class="course_title title-white">
            <p>C#</p>
          </div>
        </div>
        <div class="course 4">
          <div class="course_image">
            <a href="/public/courses/courses/cpp/cpp.html"
              ><img src="/public/courses/crslogo/cplus.png" style="width: 200px"
            /></a>
          </div>
          <div class="course_title title-white">
            <p>C++</p>
          </div>
        </div>
        <div class="course 5">
          <div class="course_image">
            <a href="/public/courses/courses/c/c.html"
              ><img src="/public/courses/crslogo/c.png" style="width: 200px"
            /></a>
          </div>
          <div class="course_title title-white">
            <p>C</p>
          </div>
        </div>
        <div class="course 6">
          <div class="course_image">
            <a href="/public/courses/courses/java/java.html"
              ><img src="/public/courses/crslogo/java.png" style="width: 200px"
            /></a>
          </div>
          <div class="course_title title-white">
            <p>JAVA</p>
          </div>
        </div>
        <div class="course 7">
          <div class="course_image">
            <a href="/public/courses/courses/css/css.html"
              ><img src="/public/courses/crslogo/css.png" style="width: 200px"
            /></a>
          </div>
          <div class="course_title title-white">
            <p>CSS</p>
          </div>
        </div>
        <div class="course 8">
          <div class="course_image">
            <a href="/public/courses/courses/angular/angular.html"
              ><img src="/public/courses/crslogo/angular1092.png" style="width: 200px"
            /></a>
          </div>
          <div class="course_title title-white">
            <p>Angular</p>
          </div>
        </div>
        <div class="course 9">
          <div class="course_image">
            <a href="/public/courses/courses/xml/xml.html"
              ><img src="/public/courses/crslogo/xml.png" style="width: 200px"
            /></a>
          </div>
          <div class="course_title title-white">
            <p>XML</p>
          </div>
        </div>
        <div class="course 10">
          <div class="course_image">
            <a href="/public/courses/courses/jquery/jquery.html"
              ><img src="/public/courses/crslogo/jquery.png" style="width: 200px"
            /></a>
          </div>
          <div class="course_title title-white">
            <p>jQuery</p>
          </div>
        </div>
        <div class="course 11">
          <div class="course_image">
            <a href="/public/courses/courses/javascript/javascript.html"
              ><img src="/public/courses/crslogo/javascript.png" style="width: 200px"
            /></a>
          </div>
          <div class="course_title title-white">
            <p>JAVASCRIPT</p>
          </div>
        </div>
        <div class="course 12">
          <div class="course_image">
            <a href="/public/courses/courses/ml/ml.html"
              ><img src="/public/courses/crslogo/ML1094.png" style="width: 200px"
            /></a>
          </div>
          <div class="course_title title-white">
            <p>ML</p>
          </div>
        </div>
        <div class="course 13">
          <div class="course_image">
            <a href="/public/courses/courses/php/php.html"
              ><img src="/public/courses/crslogo/php.png" style="width: 200px"
            /></a>
          </div>
          <div class="course_title title-white">
            <p>PHP</p>
          </div>
        </div>
        <div class="course 14">
          <div class="course_image">
            <a href="/public/courses/courses/react/react.html"
              ><img src="/public/courses/crslogo/react1097.png" style="width: 200px"
            /></a>
          </div>
          <div class="course_title title-white">
            <p>REACT</p>
          </div>
        </div>
        <div class="course 15">
          <div class="course_image">
            <a href="/public/courses/courses/sql/sql.html"
              ><img src="/public/courses/crslogo/sql.png" style="width: 200px"
            /></a>
          </div>
          <div class="course_title title-white">
            <p>SQL</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
